.dnd-row:not(:last-child) {
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .card--item {
    padding: 2.1rem 0.7rem;
  }
}

@media screen and (max-width: 787px) {
  .card--item {
    margin-bottom: 1.4rem;
  }
}