.dnd-row:not(:last-child) {
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .image-cards .image-card:nth-child(even) .card--content {
    flex-direction: row-reverse;
  }

  .image-card .card--image,
  .image-card .card--text {
    width: 49%;
  }
}